
* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    padding: 48px 62px 48px 188px;
    background-color: #FFFFFF;
    
}
.logo {
    padding: 10px 25px auto 25px;
    margin-right: 40px;
}


.hero{
    margin-bottom: 50px;
}
.navi-link{
    color: #212121;
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.navi-link:hover {
    color: #2196F3;
}

.contacts {
    margin-left: 300px;
}

.button {
    margin-left: 200px;
    position: center;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: #2196F3;
}
.cont {
    margin: auto;
}
.hero-conteiner {
    background-image: url(../images/Slider.png);
   
    padding: 280px 0 280px 452px;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.title {
font-family: 'Roboto';
width: 696px;
height: 120px;
font-size: 44px;
color: #FFFFFF;
text-transform: uppercase;
margin-bottom: 20px;
}
 

.list{
    display: flex;
    list-style: none;
    margin-left:auto;
}
.conteinerr{
    width: 1170px;
    margin-left: 215px;
    margin-bottom: 90px;
}
.vnimanie{
        position: absolute;
        width: 270px;
        height: 16px;
        left: 215px;
        top: 774px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        
        text-transform: uppercase;
    
        color: #212121;
}
.text{
        margin-right: 30px;
        width: 270px;
        height: 75px;
        left: 215px;
        top: 800px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .zaglavie{
        
        width: 376px;
        height: 42px;
        margin-bottom: 0px;
        padding: 0 397px 50px 397px;
        margin-left: 70px;
    }

    .conteinerrr{
        width: 1170px;
        
        margin-left: 215px;
        margin-bottom: 94px;
    }
    .spisfoto {
        margin-right: 30px;
    }
    .conteinerrrr {
        width: 1170px;
        margin-left: 215px;
        
        background-color: #F5F4FA; }

    .dopcon {
            padding: 40px 40px 60px 30px;
            
        }
   
 .name {
     margin-right: 10px;
     margin-left: 0px;
 }

    .fio {
        text-align: center;
    }

    .footer {
        background-color:black;
        font-size: 22px;
        
    }

  .footadress {
      color: #FFFFFF;
  }
  
  
  .foot {
      
      margin-left: 100px;
    color: #F5F4FA;
  }
  .ull {
    
      margin-left: 100px;
  }

  .description {
      padding: 139px 0 120px 55px;
  }
  .conteiner {
      display: flex;
      width: 1140px;
      margin: 0 auto;
  }
  .discription-img {
      margin-right: 26px;
}

.section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        color: #303030;
        margin-bottom: 20px;
}
.img-conteiner {
    width: 570px;
    margin-right: 64px;
}
.content {
    width: 500px;
}


.log {
    width: 500px;
    background-color: red;
}
.tex {
    margin-left: 200px;
    width: 500px;
    background-color: #2196F3;
}


.conteiner-con {
    display: flex;
    padding: 48px 62px 48px 188px;
    background-color:bisque;
}